<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/pagination.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="app">
        <div class="home">
            <div class="container-fluid info-board">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="book">
                            <i class="bi bi-book"></i>
                            <div class="text">
                                <p class="title">图书馆书本数量</p>
                                <p class="subtitle">{$book}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="overtime">
                            <i class="bi bi-clipboard-x"></i>
                            <div class="text">
                                <p class="title">超时未归还书本数量</p>
                                <p class="subtitle">{$over}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="borrow">
                            <i class="bi bi-clipboard-data"></i>
                            <div class="text">
                                <p class="title">剩余可借书本数量</p>
                                <p class="subtitle">{$borrow}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="time">
                            <i class="bi bi-clock"></i>
                            <div class="text">
                                <p class="title">系统时间</p>
                                <p class="subtitle">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="log">
                <div class="card">
                    <div class="card-header">借阅的书籍</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ISBN</th>
                                    <th>书名</th>
                                    <th>类别</th>
                                    <th>作者</th>
                                    <th>借阅时间</th>
                                    <th>截止时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='data' id='table'}
                                <tr>
                                    <td>{$table.isbn}</td>
                                    <td>{$table.name}</td>
                                    <td>{$table.groups}</td>
                                    <td>{$table.author}</td>
                                    <td>{$table.time}</td>
                                    <td>{$table.r_time}</td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

            
            <div class="page-box">
                <div class="m-style pag-box">
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>