<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书管理</title>
    <link rel="stylesheet" href="/static/css/back.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/pagination.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="app">
        <div class="return">
            <div class="operate-pane">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <form id="search-form" method="get" action="searchBorrow">
                            <div class="search">
                                <input type="text" class="form-control" name="search-text" id="search-text" placeholder="ISBN号码">
                                <button type="submit" class="btn btn-primary btn-search" name="search-button" id="search-button">搜索</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            </div>

            <div class="return-pane">
                <div id="return-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th>Id</th>
                            <th>书名</th>
                            <th>ISBN号码</th>
                            <th>借阅人</th>
                            <th>借阅人ID卡</th>
                            <th>借阅人手机</th>
                            <th>还书截止日期</th>
                            <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='data' id='table'}
                            <tr>
                            <th>{++$p}</th>
                            <td class="name">{$table.name}</td>
                            <td>{$table.isbn}</td>
                            <td>{$table.username}</td>
                            <td>{$table.id_card}</td>
                            <td>{$table.phone}</td>
                            <td>{$table.r_time}</td>
                            <td>
                                <button class="btn btn-success btn-return" data-toggle="modal" data-target="#return-book-modal" name="{$table.id}"><i class="bi bi-box-arrow-in-left"></i>归还</button>
                            </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>

                <div class="page-box">
                    <div class="m-style pag-box">{$data->render()}</div>
                </div>
            </div>
        </div>

        <!-- 归还图书模态框 -->
        <div class="modal fade" id="return-book-modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">归还图书</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>确定归还 <span id="return-name"></span> 此书吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success return-book-button">归还</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/back.js"></script>
</body>
</html>